################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CalculatorServer/.vs/CalculatorServer/v15/Server/sqlite3
